<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
    </style>
    <title>Farmers Markets</title>
</head>
<body>
    <div container>
        <div heading><h1>Farmers Markets</h1></div>
            <form action="/markets/new"><input type="submit" value="Add a New Market"</a>
            <tbody>
                <ul>
                <% for(let i = 0; i < markets.length; i++){ %>
                    <li>
                        <a href="/markets/<%=i%>"><%=markets[i].name %></a>
                        <img src="<%=markets[i].img %>"/>
                    </li>
                    <form action="/markets/<%=i; %>/edit"><input type="submit" value="Edit this Entry" />
                    </form>
                    <form action="/markets/<%=i; %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete this Entry" />
                    </form>
                    <% } %>
                </ul>
            </tbody>
    </div>
</body>

<footer>Sources<br>
    <a href=https://www.applesfromny.com/varieties/?fwp_search=pearmain>Apples From New York</a><br>
    <a href=https://extension.wsu.edu/maritimefruit/apple-varieties-for-cooking-baking-cider/>Washington State University</a><br>
    <a href=https://en.wikipedia.org/wiki/List_of_apple_cultivars>Wikipedia</a><br>
</footer>
</html>