<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
    </style>
</head>
<body>
    <h1> <%= market.name %></h1>
    <h5>Address: <%=market.address%></h5>
    <h5>Dates: <%=market.dates%></h5>
    <h5>Hours: <%=market.hours%></h5>
    <h5>Wares: <%=market.wares%></h5><br>
    <nav>
        <a href="/">Back to Home</a>
    </nav>
</body>
</html>