<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=variety.name%></title>
    <h2><%=variety.name%></h2>
    <p><%=variety.img%></p>
    <p>Date: <%=variety.date%></p>
    <p>Location: <%=variety.location%></p>
    <p>Appearance: <%=variety.appearance%></p>
    <p>Best For: <%=variety.uses%></p>
 </head>
<body>
    
</body>
</html>