<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
    </style>
</head>
<body>
    <title><%=market.name%></title>
    <h2><%=market.name%></h2>
    <p><%=market.img%></p>
    <p>Date: <%=market.date%></p>
    <p>Location: <%=market.location%></p>
    <p>Appearance: <%=market.appearance%></p>
    <p>Best For: <%=market.uses%></p>
</body>
</html>